<li class="deck-list-item"><div>{{carddeck.card.name}} x {{carddeck.count}} - You have: {{youHave}}

{{#if enough}}
<span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
{{/if}}
</div></li>
