<div class="container-fluid">
  <div class="row">
    {{#each join as |joinItem|}}
      {{my-collection-card addCard="addCard" join=join joinItem=joinItem session=session card=joinItem.card}}
    {{/each}}
  </div>
</div>
