<div class="container">
  <div class="row">
    <div class="col-sm-3">
      {{card-list session cards=model.cards user=model.user addCard="addCard"}}
    </div>
    <div class="col-sm-9">
      <h3>My Collection</h3>
      {{cards-you-have session=session join=model.user.card_users}}
      {{my-collection-display session=session join=model.usercards cards=model.cards user=model.user addCard="addCard"}}
    </div>
  </div>
</div>
