<div class="container">
  <div class="row">
    <div class="col-sm-3">
      {{card-list session=session cards=model.cards user=model.user cardusers=model.cardusers addCard="addCard"}}
    </div>
    <div class="col-sm-9">
      <h3>My Collection</h3>


      {{cards-you-have session=session join=model.user.card_users}}
      {{my-collection-display session=model.session join=model.user.card_users cardusers=model.cardusers cards=model.cards user=model.user addCard="addCard"}}
    </div>
  </div>
</div>
